@charset "UTF-8";
/*1.float
<style>
.whole{
	height:500px;
	width:500px;
	border:2px solid black;
	
}
.left{
	float:left;
	width:400px;
	height:500px;
	background-color:rgb(255,0,0);
}
.right{
	float:left;
	width:100px;	
	height:500px;
	background-color:rgb(0,250,0);
}
</style>
/*2.position
.whole{
	min-height:500px;
	overflow:auto;	
	border:2px solid red;	
}
.left{
	position:absolute;
	width:500px;
	height:500px;
	background-color:rgb(255,0,255);	
}
.right{
	position:relative;
	margin-left:500px;
	height:500px;
	background-color:rgb(0,255,0);
	border:1px solid yellow;	
}
*/
/*3.float+bfc
<style>
.whole{
	min-height:500px;
	overflow:auto;	
	border:2px solid red;	
}
.left{
	float:left;
	width:500px;
	height:500px;
	background-color:rgb(255,0,255);	
}
.right{
	overflow:auto;
	margin-left:0;
	height:500px;
	background-color:rgb(0,255,0);
	border:1px solid yellow;	
}
</style>
*/
/*
4.flex*/

html,body{
	height:100%;
	margin:0;
	display:flex;
	width:100%;
}
.left{
	height:100%;	
	flex:0 0 200px;
	-webkit-flex:0 0 200px;
	background-color:rgb(255,0,255);	
}
.right{
	height:100%;
	flex:1 1 200px;
	-webkit-flex:1 1 200px;
	background-color:rgb(0,255,0);
	border:1px solid yellow;	
}

*/
/*5.inline-block
<style>
.whole{
 
	border:2px solid red;
	width: 600px;
   margin: 0 auto; 
   height:400px;	
}
.left{
	display:inline-block;
	width:120px;
	background-color:rgb(255,0,255);
	height:400px;	
}
.right{
	display:inline-block;
	background-color:rgb(0,255,0);
	border:1px solid yellow;
	width:480px;
	height:400px;	
}
</style>
*/